blinker==1.8.2
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
Flask==2.2.5
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==20.1.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pymongo==4.8.0
requests==2.27.1
setuptools==74.1.2
SQLAlchemy==2.0.34
typing_extensions==4.12.2
urllib3==1.26.20
Werkzeug==3.0.4
